* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}
img {
  width: 100%;
}
.header {
  padding: 50px 0;
  display: flex;
  background: rgba(255, 144, 14, 0.1);
  flex-direction: column;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
}
.lists {
  display: flex;
  gap: 50px;
  list-style: none;
}
.list-item {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
.banner {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 144, 14, 0.1);
  /* margin-bottom: 85px; */
}
.banner-title-section {
  width: 800px;
  text-align: center;
}
.banner-title {
  font-weight: 600;
  font-size: 64px;
}
.banner-description {
  margin: 20px 0;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.banner img {
  width: 75%;
  height: 75%;
}
.btn {
  margin-bottom: 30px;
}
.teams-section {
  display: flex;
  column-gap: 70px;
  justify-content: center;
  align-items: center;
  margin: 85px 0;
}
.teams-image {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
.team-image {
  width: 100%;
}
.team-features {
  width: 30%;
}
.team-title {
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 30px;
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 30px;
}
.features-section {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.feature-details {
  width: 500px;
}
.feature-title::before {
  margin: 0 10px 0 0;
  content: "";
  border-left: 5px solid #ff900e;
}
.feature-title {
  font-weight: 700;
  font-size: 45px;
}
.feature-description {
  margin-top: 25px;
  color: #727272;
  font-weight: 400;
  font-size: 16px;
}
.feature-item {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
}
.feature-lists {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.item-title {
  font-weight: 600;
  font-size: 20px;
}
.item-description {
  font-weight: 400;
  font-size: 16px;
}
.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}
.fact-description {
  margin-bottom: 100px;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 70px;
}
.box {
  text-align: center;
  width: 14%;
  padding: 35px 25px;
  border: 2px solid #ff900e;
  border-radius: 10px;
}
.box img {
  width: 25%;
  margin-bottom: 10px;
}
.box-number {
  margin-bottom: 5px;
}
.sponsors-section {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sponsors-image {
  display: flex;
  justify-content: center;
  gap: 200px;
}
.sponsors-image img {
  width: 8%;
}
footer {
  margin: 100px auto;
  width: 80%;
  background: #fff4e7;
}
.footer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  padding: 40px 0;
}
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .lists {
    margin-top: 20px;
    flex-direction: column;
  }
  .banner-title-section {
    width: 100%;
    flex-wrap: wrap;
  }
}
