* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}
.btn {
  width: 180px;
  height: 64px;
  background: #ff900e;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
}
.header {
  padding: 50px 0;
  display: flex;
  background: rgba(255, 144, 14, 0.1);
  flex-direction: column;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
}
.lists {
  display: flex;
  gap: 50px;
  list-style: none;
}
.list-item {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
.banner {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 144, 14, 0.1);
}
.banner img {
  width: 100%;
}
.banner-title-section {
  width: 800px;
  text-align: center;
}
.banner-title {
  font-weight: 600;
  font-size: 64px;
}
.banner-description {
  margin: 20px 0;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.banner .btn {
  margin-bottom: 30px;
}
.banner img {
  width: 75%;
}
.teams-section {
  display: flex;
  column-gap: 70px;
  justify-content: center;
  align-items: center;
  margin: 85px 0;
}
.teams-image {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
.team-image {
  width: 100%;
}
.team-image img {
  width: 100%;
}
.team-features {
  width: 30%;
}
.team-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 30px;
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 30px;
}
.features-section {
  margin-top: 130px;
  margin-bottom: 130px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.feature-image img {
  width: 100%;
}
.feature-details {
  width: 500px;
}
.feature-title::before {
  margin: 0 10px 0 0;
  content: "";
  border-left: 5px solid #ff900e;
}
.feature-title {
  font-weight: 700;
  font-size: 45px;
}
.feature-description {
  margin-top: 25px;
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.feature-item {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
}
.feature-lists {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.item-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 77%;
}
.fact-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.fact-description {
  margin-bottom: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 150px;
}
.box {
  text-align: center;
  padding: 45px 35px;
  border: 2px solid #ff900e;
  border-radius: 10px;
}
.box img {
  margin-bottom: 10px;
}
.box-number {
  margin-bottom: 5px;
}
.sponsors-section {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.sponsors-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 30px;
}
.sponsors-description {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #727272;
}
.sponsors-image {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
}
footer {
  margin: 100px auto;
  width: 80%;
  background: #fff4e7;
}
.footer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  padding: 40px 0;
}
.latest-work-section {
  margin: 0 auto;
  width: 75%;
}
.work-list {
  display: flex;
  margin-bottom: 20px;
}

.works img {
  width: 80%;
}
.work-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 50px;
}
.works img {
  margin-bottom: 10px;
}
.works h1 {
  margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .lists {
    margin-top: 20px;
    flex-direction: column;
  }
  .banner-title-section {
    width: 100%;
    flex-wrap: wrap;
  }
  .banner img {
    width: 95%;
  }
  .teams-section {
    flex-wrap: wrap;
  }
  .team-features {
    margin: 10px;
    flex-wrap: wrap;
    flex: 1;
  }
  .teams-image {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-title::before {
    display: none;
  }
  .features-section {
    flex-wrap: wrap;
    flex: 1;
  }
  .feature-image {
    width: 95%;
  }
  .boxes {
    flex-wrap: wrap;
    flex: 1;
    gap: 50px;
    justify-content: center;
  }
  .sponsors-image {
    flex-wrap: wrap;
    flex: 1;
  }
  .work-list {
    flex-wrap: wrap;
    flex: 1;
  }
}
